<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/nuevo">Ingresar Datos</a></li>
        <li><a href="/listaAlumnos">Ver Datos</a></li>
        <li><a href="/documentosAlumnos">Solicitar Documentos</a></li>
        <!-- Falta la parte de Admin, ya que igual hay que tener en cuenta que lo ocupara alguien y debe de tener seguridad -->
        <li><a href="/InicioSeccion">Inicio Sección</a></li>
    </ul>
</nav>
