<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Colegio Manuel Francisco Correa - Registro Alumno</title>
    <link rel="stylesheet" href="/css/alumno.css">
</head>

<body>
    <!-- Navbar -->
    <%- include('partials/navbar') %>
        <header>
            <h1>Colegio Manuel Francisco Correa</h1>
            <p>Bienvenidos a nuestra comunidad educativa</p>
        </header>

        <main>
            <h2 style="text-align:right;">Registro de Alumno y Apoderados</h2>
            <div class="formularios">

                <form action="/insert" method="POST">
                    <label for="Rut Alumno">Rut Alumno:</label>
                    <input type="text" id="rut_alumnos" name="rut_alumnos" maxlength="12" required>

                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" maxlength="100" required>

                    <label for="apellido_paterno">Apellido Paterno:</label>
                    <input type="text" id="apellido_paterno" name="apellido_paterno" maxlength="100" required>

                    <label for="apellido_materno">Apellido Materno:</label>
                    <input type="text" id="apellido_materno" name="apellido_materno" maxlength="100" required>

                    <label for="curso">Curso:</label>
                    <input type="text" id="curso" name="curso" maxlength="10" required>

                    <label for="fecha_ingreso">Fecha de Ingreso:</label>
                    <input type="date" id="fecha_ingreso" name="fecha_ingreso" required>

                    <label for="nacionalidad">Nacionalidad:</label>
                    <input type="text" id="nacionalidad" name="nacionalidad" maxlength="100" required>

                    <label for="orden_llegada">Orden de Llegada:</label>
                    <input type="text" id="orden_llegada" name="orden_llegada" maxlength="100" required>

                    <label for="direcion">Direccion:</label>
                    <input type="text" id="direcion" name="direcion" maxlength="100" required>

                    <label for="comuna">Comuna:</label>
                    <input type="text" id="comuna" name="comuna" maxlength="100" required>

                    <button type="submit">Registrar Alumno</button>
                    <button type="button" onclick="window.history.back()" style="margin-left:10px;">Volver</button>
                </form>

                <!--Formulario para ingresar datos del apoderado -->
                <form action="/insertApoderado" method="POST">
                    <label for="rut_apoderado">Rut Apoderado:</label>
                    <input type="text" id="rut_apoderado" name="rut_apoderado" maxlength="12" required>

                    <label for="nombre_apoderado">Nombre Apoderado:</label>
                    <input type="text" id="nombre_apoderado" name="nombre_apoderado" maxlength="100" required>

                    <label for="apellido_paterno_apoderado">Apellido Paterno Apoderado:</label>
                    <input type="text" id="apellido_paterno_apoderado" name="apellido_paterno_apoderado" maxlength="100"
                        required>

                    <label for="apellido_materno_apoderado">Apellido Materno Apoderado:</label>
                    <input type="text" id="apellido_materno_apoderado" name="apellido_materno_apoderado" maxlength="100"
                        required>

                    <label for="nacionalidad">Nacionalidad:</label>
                    <input type="text" id="nacionalidad" name="nacionalidad" maxlength="15" required>

                    <label for="Telefono">Telefono:</label>
                    <input type="text" id="Telefono" name="Telefono" maxlength="15" required>

                    <label for="Correo">Correo Electronico:</label>
                    <input type="text" id="Correo" name="Correo" maxlength="15" required>

                    <button type="submit">Registrar Apoderado</button>
                    <button type="button" onclick="window.history.back()" style="margin-left:10px;">Volver</button>
                </form>
            </div>
        </main>

        <!-- Footer -->
        <%- include('partials/footer') %>
</body>

</html>